@font-face {
    font-family: Outfit;
    src: url(../Public/fonts/Outfit-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #38ccff #111;
}

body{
    font-family: Outfit;
    background-color: #111111;
    color: #fff;
    min-height: 100vh;
}

/* ------------------------ ABOUT US section ------------------------ */


.about-heading{
    margin-top: 20vh;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.about-text{
    padding-inline: 20vw;
    font-size: 1.2rem;
}

.imgs-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
    width: 95vw;
    margin-inline: auto;
    margin-block: 10vh;
}

.img-div{
    height: 300px;
    width: 500px;
    background-color: #1a1a1a;
}

#img-div-1{
    background-image: url(../Public/images/zairzest-3-img-1.jpg);
    background-size: cover;
}

#img-div-2{
    background-image: url(../Public/images/zairzest-3-img-2.jpg);
    background-size: cover;
}

#img-div-3{
    background-image: url(../Public/images/zairzest-3-img-3.jpg);
    background-size: cover;
}

#img-div-4{
    background-image: url(../Public/images/zairzest-3-img-4.jpg);
    background-size: cover;
}
/* text decor */

.blue-text{
    color: #38CCFF;
}

@media (max-width: 1024px) {

    .about-heading{
        font-size: 3.3rem;
    }

    .img-div{
        height: 225px;
        width: 375px;
    }
    
}

@media (max-width: 768px) {
    .about-text{
        padding-inline: 10vw;
    }
    
}