@font-face {
    font-family: Outfit;
    src: url(../Public/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Beyno;
    src: url(../Public/fonts/BEYNO.ttf);
}

@font-face {
    font-family: Mohave;
    src: url(../Public/fonts/Mohave-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Outfit;
    background-color: #111111;
    color: #fff;
    min-height: 100vh;
}

header{
    background: #121212;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    height: max(10vh, 75px);
}

#menu-div{
    display: flex;
    gap: 60px;
    font-size: 1.1rem;
    font-weight: 300;
}

#menu-div a{
    color: #fff;
    text-decoration: none;
}

#menu-div a:hover, a:focus {
    color: #007aff;
}

#zairzest-span{
    font-size: 2rem;
    font-family: Beyno;
    font-weight: 300;
    letter-spacing: 0.75rem;
}

#span-4-0{
    font-size: 2.25rem;
    font-family: Mohave;
    font-weight: 200;
    letter-spacing: 0.65rem;
    color: #38CCFF;
}
/* ------------------------ ABOUT US section ------------------------ */


.about-heading{
    margin-top: 20vh;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.about-text{
    padding-inline: 20vw;
    font-size: 1.2rem;
}

.imgs-div{
    display: flex;
    flex-flow: row wrap;
    gap: 0;
    width: 60vw;
    margin-inline: auto;
    margin-block: 10vh;
}

.img-div{
    height: 300px;
    width: 50%;
    background-color: #007aff;
}

#img-div-1{
    background-image: url(../Public/images/zairzest-3-img-1.jpg);
    background-size: cover;
}

#img-div-2{
    background-image: url(../Public/images/zairzest-3-img-2.jpg);
    background-size: cover;
}

#img-div-3{
    background-image: url(../Public/images/zairzest-3-img-3.jpg);
    background-size: cover;
}

#img-div-4{
    background-image: url(../Public/images/zairzest-3-img-4.jpg);
    background-size: cover;
}

/* ------------------------- Footer section ------------------ */

footer{
    background-color: #1A1A1A; 
    color: #D0D5DD ; 
    padding: 75px 50px; 
    font-family: Outfit;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top-footer{
    align-self: flex-start; 
    min-width: 250px;
    font-size: 1.75rem;
}

.mid-footer, .bottom-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-text-1{
    max-width: 400px; 
    font-size: 1rem;
    font-weight: 500;
}
/* text decor */

.blue-text{
    color: #38CCFF;
}