@font-face {
    font-family: Outfit;
    src: url(../Public/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Beyno;
    src: url(../Public/fonts/BEYNO.ttf);
}

@font-face {
    font-family: Mohave;
    src: url(../Public/fonts/Mohave-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #38ccff #111;
}

body{
    font-family: Outfit;
    background-color: #111111;
    color: #fff;
    height: 200vh;
}

::selection{
    background: #38CCFF;
    color: white;
}

header{
    background: #121212;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    height: max(10vh, 75px);
}

#menu-div{
    display: flex;
    gap: 60px;
    font-size: 1.1rem;
    font-weight: 300;
}

#menu-div a{
    color: #fff;
    text-decoration: none;
}

#menu-div a:hover, a:focus {
    color: #007aff;
}

#zairzest-span{
    font-size: 2rem;
    font-family: Beyno;
    font-weight: 300;
    letter-spacing: 0.75rem;
}

#span-4-0{
    font-size: 2.25rem;
    font-family: Mohave;
    font-weight: 200;
    letter-spacing: 0.65rem;
    color: #38CCFF;
}

/* ---------Hero-div------------------- */

#hero-back-div{
    background-image:
    linear-gradient(to right, #111111, #11111100 50%),
    linear-gradient(to bottom, #11111100 75%, #111111),  
    url(../Public/images/175eefb2e004ea385a051c1f3d9033c0bdcd33bb.jpg);
    height: 100vh;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;
    padding-inline: 10vw;
}

.hero-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;
    padding: 50px;
    border-radius: 5px;
}
#hero-heading{
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    width: min(500px, 85vw);
}

#hero-btns-div{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

button{
    border: 0;
    outline: 0;
    padding: 0.8rem;
    font: inherit;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    transition: box-shadow 0.3s;
}

button:hover {
    box-shadow: 0 0 20px #38CCFF;
}

.btn-type-1{
    background-color: #38CCFF;
}

.btn-type-2{
    background-color: #ffffff00;
    border: 3px solid #38CCFF;
    color: #38CCFF;
}

/* Zen 4.0 part designing */
.blue-text{
    color: #38CCFF;
}

.italic-text{
    font-style: oblique;
}
#zen-4-div{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#panda-pita{
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;
    padding: 25px;
}
#panda-img{
    height: 600px;
    z-index: 0;
}

/* #holo-display{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to top,#00c8ff88, #00c8ff00 ) ;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    filter: drop-shadow(0px 0px 10px #38CCFF) ;

} */

#zen-4-text-div{
    width: 500px;
}

#zen-4-heading{
    font-size: 3em;
    font-weight: 600;
}

/* ------------- Footer-designing -------------- */

footer{
    background-color: #1A1A1A; 
    color: #D0D5DD ; 
    padding: 75px 50px; 
    font-family: Outfit;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top-footer{
    align-self: flex-start; 
    min-width: 250px;
    font-size: 1.75rem;
}

.mid-footer, .bottom-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-text-1{
    max-width: 500px ; 
    font-size: 1rem;
    font-weight: 500;
}

