@font-face {
    font-family: Outfit;
    src: url(../Public/fonts/Outfit-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #38ccff #111;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Outfit;
    background-color: #111111;
    color: #fff;
    min-height: 125vh;
}

::selection{
    background: #38CCFF;
    color: white;
}

/* ---------------------------------------------Hero-div-------------------------------------- */

#hero-back-div{
    background-image:
    linear-gradient(to right, #111111, #11111100 50%),
    linear-gradient(to bottom, #11111100 75%, #111111),  
    url(../Public/images/175eefb2e004ea385a051c1f3d9033c0bdcd33bb.jpg);
    height: 100vh;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;
    padding-inline: 10vw;
}

.hero-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;
}

#hero-heading{
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    width: min(500px, 85vw);
}

#hero-btns-div{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.btn{
    border: 0;
    outline: 0;
    padding: 0.8rem;
    font: inherit;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    transition: box-shadow 0.3s, transform 0.6s;
}

.btn:hover {
    box-shadow: 0 0 20px #38CCFF;
    transform: scale(1.1);
}

.btn-type-1{
    background-color: #38CCFF;
}

.btn-type-2{
    background-color: #ffffff00;
    border: 3px solid #38CCFF;
    color: #38CCFF;
}

/*---------------------------------------Zen 4.0 part designing-------------------------------- */
.blue-text{
    color: #38CCFF;
}

.italic-text{
    font-style: oblique;
}

#zen-4-div{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 50px;
}
#panda-pita{
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;
    padding: 25px;
}

#panda-img{
    height: 600px;
    z-index: 0;
}

#zen-4-text-div{
    width: 500px;
}

#zen-4-heading{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 25px;
}

/* -------------------------------EVENTSSSSSSSSSS FORRRR YOUUUUUU------------------------------------- */

#events-for-you {
  margin-top: 10vh;
  font-size: 3em;
  color: #38ccff;
  margin-bottom: 10px;
  text-align: center;
}
p.description {
  font-style: italic;
  color: #ccc;
  margin-bottom: 40px;
  text-align: center;
}
.events-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
  margin-bottom: 15vh;
}
.event-card {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: scale(1.1);
}
.event-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top right, #11111188, #11111100);
}
.event-label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
}
 .event-label h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
}

a .event-label h2{
  text-decoration: none;
  color: #fff;
}

.event-label p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #e0e0e0;
}


/* ------------------------------MEDIAAAAA QUERIESSSSSSSSSSS------------------------------- */
@media (max-width: 1024px) {

.hero-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

#hero-heading{
    text-align: center;
}

#hero-back-div{
    align-items: center;
}

}

@media (max-width: 768px) {

    #hero-back-div{
        height: 75vh;
    }

    #panda-img{
        height: 450px;
    }

    #zen-4-heading{
        text-align: center;
    }

    .event-card{
        width: 400px;
    }
}