@font-face {
    font-family: Outfit;
    src: url(../Public/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Beyno;
    src: url(../Public/fonts/BEYNO.ttf);
}

@font-face {
    font-family: Mohave;
    src: url(../Public/fonts/Mohave-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Outfit;
    background-color: #111111;
    color: #fff;
    height: 200vh;
}

header{
    background: #121212;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    
    
    height: 75px;
}

#menu-div{
    display: flex;
    gap: 60px;
    font-size: 1.1rem;
    font-weight: 300;
}

#menu-div a{
    color: #fff;
    text-decoration: none;
}

#menu-div a:hover, a:focus {
    color: #007aff;
}

#zairzest-span{
    font-size: 2.25rem;
    font-family: Beyno;
    font-weight: 300;
    letter-spacing: 0.75rem;
}

#span-4-0{
    font-size: 2.25rem;
    font-family: Mohave;
    font-weight: 200;
    letter-spacing: 0.65rem;
    color: #38CCFF;
}

#hero-div{
    background-image: 
    linear-gradient(to bottom, #11111100 50%, #111111),  
    url(../Public/images/175eefb2e004ea385a051c1f3d9033c0bdcd33bb.jpg);
    height: 100vh;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;
    padding-inline: 15vw;
}

#hero-heading{
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    width: min(500px, 85vw)
}

#hero-btns-div{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

button{
    border: 0;
    outline: 0;
    padding: 0.8rem;
    font: inherit;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    transition: box-shadow 0.3s;
}

button:hover {
    box-shadow: 0 0 20px #38CCFF;
}

.btn-type-1{
    background-color: #38CCFF;
}

.btn-type-2{
    background-color: #ffffff00;
    border: 3px solid #38CCFF;
    color: #38CCFF;
}