@font-face {
    font-family: Outfit;
    src: url(../../Public/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Beyno;
    src: url(../../Public/fonts/BEYNO.ttf);
}

@font-face {
    font-family: Mohave;
    src: url(../../Public/fonts/Mohave-VariableFont_wght.ttf);
}

header{
    background: #121212;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    height: max(10vh, 75px);
}

#menu-div{
    display: flex;
    gap: 60px;
    font-size: 1.3rem;
    font-weight: 300;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #38CCFF;
}

#zairzest-span{
    font-size: 2.25rem;
    font-family: Beyno;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.75rem;
}

#span-4-0{
    font-size: 2.25rem;
    font-family: Mohave;
    font-weight: 200;
    letter-spacing: 0.65rem;
    color: #38CCFF;
}

/* ------------------------ Responsive Menu Bar Icon Stuff -------------------------- */

#menu-bar-icon{
    display: none;
}

#menu-sidebar{
    display: none;
}


@media(max-width:1000px){

    #menu-div{
        display: none;
    }
    #menu-bar-icon{
        display: block;
    }

    #menu-sidebar{
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;

        font-size: 1.3rem;
        font-weight: 300;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;

        width: 100vw;
        height: 100vh;
        padding: 50px;

        background-color: #111111;
        backdrop-filter: blur(6px);
    }

    #close-menu-icon{
        align-self: flex-end;
    }
}